.admin {
  width: 400px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #454545;
  padding: 20px 0;
  .admin__style {
    display: grid;
    align-content: space-between;
    gap: 100%;
    .admin__panel {
      display: grid;
      flex-direction: column;
      gap: 38px;
      &__title {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: #ffffff;
        font-size: 28px;
        line-height: 38.25px;
        font-weight: 400;
        gap: 12px;
      }
      ul {
        display: grid;
        grid-template-columns: auto;
        gap: 8px;
        li {
          display: flex;
          align-items: center;
          color: #ffffff;
          font-size: 18px;
          font-weight: 400;
          padding: 8px;
          line-height: 24.59px;
          cursor: pointer;
          gap: 15px;
          &:hover {
            background: #ffffff33;
            border-radius: 8px;
          }
        }
      }
    }
    .admin__btn {
      display: flex;
      color: #ffffff;
      align-items: center;
      font-size: 18px;
      font-weight: 600;
      line-height: 24.59px;
      background: none;
      border: none;
      gap: 14px;
      svg {
        font-size: 28px;
      }
    }
  }
}
