.brand {
  margin-bottom: 105px;
  &__btns {
    display: flex;
    align-items: center;
    gap: 10px;
    &__btn {
      width: 39px;
      height: 26px;
      font-size: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #000000;
      background: #ffff;
      border-radius: 100px;
      &:disabled {
        opacity: 30%;
      }
    }
  }
  &__brands {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    .brand__card {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
