.brand {
  margin-bottom: 105px;
  &__brands {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    .brand__card {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.swiper {
  overflow: hidden !important;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  top: 65px;
  background: #fff;
  border: 1px solid #454545;
  border-radius: 20px;
  width: 40px;
  height: 20px;
}
.swiper-button-prev {
  top: 65px;
  background: #fff;
  border: 1px solid #454545;
  border-radius: 20px;
  width: 40px;
  height: 20px;
  left: auto;
  // right: 60px !important;
}
.swiper-button-lock {
  display: block !important;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px !important;
  color: #454545;
}
