button {
  cursor: pointer;
}

.header__bottom__btn {
  border: none;
  background: none;
  display: none;
  svg {
    font-size: 38px;
  }
}
.home__titles__btn {
  max-width: 500px;
  padding: 14px 47px;
  border-radius: 100px;
  border: 1px solid #454545;
  transition: 0.3s ease-in-out;
  color: #454545;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.86px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background: #fff;
  gap: 10px;
  &:hover {
    background: #454545;
    color: #fff;
    svg {
      transform: translateX(10px);
    }
  }
  svg {
    font-size: 28px;
  }
}
.product__content__items__item {
  padding: 3px 17px;
  border-radius: 100px;
  background: #454545;
  font-size: 20px;
  color: #fff;
  border: none;
  &:hover {
    color: #fff;
    background: #2f4da3;
  }
  &:active {
    background: #223c86;
  }
}

.single__content__box {
  display: flex;
  align-items: center;
  gap: 16px;
  .single__content__btns {
    display: flex;
    align-items: center;
    &__btn {
      padding: 16px;
      background: #fff;
      font-size: 18px;
      font-weight: 500;
      line-height: 19.68px;

      &:first-child {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border-top: 1px solid #e5e5e5;
        border-left: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        border-right: none;
      }
      &:nth-child(2) {
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        border-right: none;
        border-left: none;
      }
      &:last-child {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        border-left: none;
      }
    }
    &__cart {
      color: #ffffff;
      font-size: 16px;
      font-weight: 500;
      line-height: 19.68px;
      padding: 16px 50px;
      background: #454545;
      border-radius: 10px;
      border: 1px solid #454545;
      transition: 0.2s;
      &:hover {
        background: #fff;
        color: #454545;
      }
      &:active {
        transform: scale(0.95);
      }
    }
    &__heart {
      width: 52px;
      height: 52px;
      font-size: 28px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      background: #f8f8f8;
      &:active {
        transform: scale(0.95);
      }
    }
  }
}
