.product__category {
  margin-bottom: 40px;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    li {
      color: #454545;
      cursor: pointer;
      font-size: 20px;
      font-weight: 500;
      line-height: 22px;
      white-space: nowrap;
    }
  }
}
