.carousel {
  cursor: grab;
  overflow: hidden;
  width: 480px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 15;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 30px 0;
  .inner-carousel {
    display: flex;
    margin-top: 15px;
    gap: 10px;
    &__slide {
      width: 200px !important;
      cursor: grab;
      img {
        width: 200px !important;
        pointer-events: none !important;
        height: 200px;
      }
    }
  }
  &__close {
    top: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
    font-size: 28px;
  }
}

.overflow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
