.product {
  margin-bottom: 71px;
  &__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .product__card {
      width: 280px;
      height: 100%;
      position: relative;
      .product__heart {
        cursor: pointer;
        position: absolute;
        font-size: 24px;
        right: 40px;
        top: 2px;
      }
      img {
        width: 240px;
        height: 200px;
        object-fit: contain;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
      }
      .product__content {
        padding: 20px 40px;
        &__text {
          color: #454545;
          font-size: 20px;
          font-weight: 500;
          line-height: 22px;
          margin-bottom: 20px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &__items {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 80px;
          ul {
            display: grid;
            grid-template-columns: auto;
            margin-bottom: 6px;
            li {
              color: #454545;
              font-size: 20px;
              font-weight: 700;
              line-height: 22px;
              s {
                color: #9f9f9f;
                font-size: 12px;
                font-weight: 500;
                line-height: 13.2px;
              }
            }
          }
        }
      }
    }
  }
}
