.header {
  position: fixed;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 12px;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
    &__items1 {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 27px;
      .header__top__item {
        color: #454545;
        font-size: 14px;
        font-weight: 600;
        line-height: 19.12px;
      }
    }
    &__items2 {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 24px;
      .header__top__item {
        color: #454545;
        font-size: 14px;
        font-weight: 600;
        line-height: 19.12px;
      }
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 15;
    &__logo {
      color: #454545;
      font-size: 29px;
      font-weight: 400;
      line-height: 35.1px;
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &__katalog {
      display: flex;
      align-items: center;
      background: #454545;
      border-radius: 100px;
      padding: 14px 27px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 600;
      line-height: 21.86px;
      border: 1px solid #454545;
      transition: 0.3s;
      gap: 9px;
      &:hover {
        background: #fff;
        color: #454545;
      }
      svg {
        font-size: 24px;
      }
    }
    &__items {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;
      &__item {
        display: grid;
        grid-template-columns: auto;
        position: relative;
        color: #454545;
        font-size: 12px;
        font-weight: 600;
        line-height: 16.39px;
        svg {
          color: #454545;
          font-size: 24px;
          margin: 0 auto;
        }
        .header__bottom__count {
          width: 18px;
          height: 18px;
          border-radius: 50%;
          font-size: 12px;
          position: absolute;
          background: #c63c3c;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          top: -5px;
          right: 5px;
        }
      }
    }
  }
}

.active {
  opacity: 50%;
}

#navbar-responsive.open {
  top: 74px;
}
