@media (max-width: 1115px) {
  .display__none {
    display: none !important;
  }
  .row__rewers {
    flex-direction: row-reverse;
  }
  #navbar-responsive {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: 0.5s;
    z-index: -1;
  }
  .home__titles {
    justify-content: center !important;
  }
  .header {
    .header__bottom {
      gap: 20px !important;
      &__form {
        width: 100% !important;
        flex: 1;
      }
      &__count {
        right: -10px !important;
      }
      &__btn {
        display: block;
      }
    }
    &__top {
      &__items1,
      &__items2 {
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        gap: 0 !important;
        .header__top__item {
          width: 100% !important;
          text-align: center;
          padding: 15px 0;
          border-bottom: 1px solid #454545;
          &:first-child {
            border-top: 1px solid #454545;
          }
        }
      }
    }
  }
  .display__block {
    display: block !important;
  }
  .display__flex {
    display: flex !important;
  }
  .hero__style {
    padding: 30px !important;
    flex-direction: column-reverse !important;
  }
  .hero__text {
    max-width: 100% !important;
  }
  body {
    margin-top: 144px !important;
  }
  .width__100 {
    margin: 0 auto;
  }
  .brand__btns {
    display: none;
  }
  .blog__wrapper {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    &__par {
      max-width: 100%;
    }
  }
  .company__style {
    .company__content1 {
      &__title {
        text-align: center;
      }
      &__cards {
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: center !important;
        .company__content1__card {
          width: 360px !important;
          &__text {
            font-size: 48px !important;
            margin-bottom: 60px !important;
          }
          &__par {
            font-size: 18px !important;
          }
        }
      }
    }
    &__par {
      max-width: 100% !important;
    }
  }
  .brand__card {
    img {
      width: 100% !important;
    }
  }
  .phone,
  .tell {
    color: #000 !important;
    border: none !important;
  }
}

@media (max-width: 950px) {
  .footer__items {
    display: grid !important;
    grid-template-columns: auto auto !important;
  }
  .hero__text {
    font-size: 40px !important;
    line-height: normal !important;
  }
  .notfound__title1 {
    font-size: 260px !important;
  }
  .company__content1__title {
    font-size: 48px !important;
  }
  .shipining__style__title,
  .return__style__title {
    max-width: none !important;
  }
}

@media (max-width: 700px) {
  .hero__style {
    img {
      width: 100% !important;
    }
  }
  .brand__title {
    font-size: 30px !important;
  }
  .home__titles__btn {
    max-width: 350px !important;
  }
  .shipining__style__title,
  .return__style__title,
  .garant__style__title,
  .contact__style__title {
    font-size: 34px !important;
  }
  .company__content1__title {
    font-size: 38px !important;
  }
  .return__text,
  .shipining__content__box__text,
  .garant__text,
  .contact__text {
    font-size: 20px !important;
  }
  .shipining__content__box__par,
  .company__style__par,
  .garant__par,
  .contact__par {
    font-size: 16px !important;
  }
  span {
    .return__par {
      font-size: 16px !important;
    }
    ul {
      li {
        font-size: 16px !important;
      }
    }
  }
  iframe {
    height: 242px !important;
  }
}

@media (max-width: 510px) {
  .container {
    padding: 0 10px !important;
  }
  .header__bottom__items {
    gap: 18px !important;
  }
  .footer__items {
    display: grid !important;
    grid-template-columns: auto !important;
  }
  .hero__text {
    max-width: 400px !important;
    font-size: 30px !important;
  }
  .home__titles__title {
    font-size: 24px !important;
    line-height: normal !important;
  }
  .notfound {
    margin-top: -20px !important;
  }
  .notfound__title1 {
    font-size: 200px !important;
  }
  .blog__card {
    max-width: 350px !important;
    img {
      width: 100% !important;
    }
  }
  .company__content1__card {
    width: 370px !important;
  }
}
